
.card-body {
    background-color: white;
    color: black;
    justify-content: center;
  }

  #crest {
  align-items: center;
  }
  
  .card-title {
    color: black;
    font-size: 35px;
    text-align: center;
  }

  #card-text {
    text-align: center;
  }
  
  .card-header {
    font-size: 60px;
    font-weight: bolder;
  }
  
  #welcomeDiv {
    background-color: rgb(91, 88, 88);
    color: white;
  }
  
  #button {
    background-color: white;
  }

  #text-center{
    justify-content: right;
  }

  #form {
    text-align: center;
    margin: auto;
    justify-content: center;
  }
  
  #bar {
    width:500px;
    justify-content: center;
  }
  
  
  #container {
    display: flex;
    justify-content: space-around;
    overflow: auto;
  }
  
  #app {
    border: 5px solid rgb(146, 144, 144);
    width: 50%;
    height: 100vh;
    overflow: auto;
    background-color: white;
    padding: 5px;
    justify-content: center;
  }
  
  #pit {
    border: 5px solid rgb(146, 144, 144);
    width: 50%;
    height: 100vh;
    overflow: auto;
    padding: 5px;
    background-color: black;
  }
  

    #Gryffindor {
    background-color: rgb(223, 13, 55);
    }
    
    #Hufflepuff {
    background-color: rgb(240, 164, 22) ;
    } 
    
    #Ravenclaw {
    background-color: blue; 
    } 
    
    #Slytherin {
    background-color: green; 
    }
