body {
    background-color: silver;
}

#crest {
    height: 400px;
    width: 100%;
}

.headings1 {
    text-align: center;
    font-family: 'MedievalSharp', cursive;
}

.headings2 {
    text-align: center;
    font-family: 'MedievalSharp', cursive;
}

.headings3 {
    text-align: center;
    font-family: 'MedievalSharp', cursive;
}


.btn {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'MedievalSharp', cursive;
}

